@using PFM.Models
@model LoginViewModel
@{
    ViewBag.Title = "Connexion";
}
<link href="~/Content/StylePageLogin.css" rel="stylesheet" />
<div class="col-md-4 py-5 m-auto">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizonta", role = "form",@id="LoginForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-lg-12 row justify-content-center">
            <span class="elementfont display-4">
                Login
            </span>
        </div>


        <div class="div-form col-lg-12 p-0 ">
            <label class="required labelinput">Email</label>
            <div class="wrap-input100 validate-input">
                @Html.TextBoxFor(m => m.Email, new { @class = "input100" })
            </div>
        </div>
        <div class="div-form col-lg-12 p-0 ">
            <label class="required labelinput">Password</label>
            <div class="wrap-input100 validate-input">
                <div class="inputgroup col-lg-12 w-100 p-0">
                    @Html.PasswordFor(m => m.Password, new { @class = "passinput input100" })
                    <span class="input-group-append p-0">
                        <span class="icon-pass input-group-text px-4"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-12 py-3 row justify-content-between">
            <div class="contact100-form-checkbox">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "input-checkbox100", @id = "ckb1" })
                <label class="label-checkbox100" for="ckb1">
                    Remember me
                </label>
            </div>
        </div>
        <div class="container-login100-form-btn m-t-17 pb-3">
            <button class="col-lg-12 py-1 btn" style="background-color:#9cd9ee">
                Login
            </button>
        </div>
        <p class="elementsOrange">
            @Html.ActionLink("Register as a new user", "Register", new { @class = "elementsOrange" })
        </p>
        <p class="elementsOrange">
            @Html.ActionLink("Forgot your password ?", "ForgotPassword", "Account", new { @class = "elementsOrange" })
        </p>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    }
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/MyScripts/DisplayPassword.js"></script>
<script>
    $(document).ready(function () {
        $('#LoginForm').validate(
            {
                errorClass: 'help-block animation-slideDown text-danger',
                errorElement: 'span',
                errorPlacement: function (error, e) {
                    e.parents('.div-form ').append(error);
                },
                highlight: function (e) {

                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    'Email': {
                        required: true,
                        email: true
                    },
                    'Password':
                    {
                        required: true,
                    }
                },
                messages: {
                    'Email': {
                        required: "Email is Empty",
                        email: "Enter a Valid email(example@xyz.az)"
                    },
                    'Password':
                    {
                        required: "Password  is Empty",
                    }
                }
            });
    });
</script>