@model PFM.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
<link href="~/Content/StylePageInscription.css" rel="stylesheet" />
<h2>@ViewBag.Title.</h2>
<div class="col-md-4 py-5 m-auto">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "ResetPasswordForm" }))
    {
        @Html.AntiForgeryToken()
        <h4>Reset your password.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="div-form col-lg-12 p-0 ">
            <label class="required labelinput">Email</label>
            <div class="wrap-input100 validate-input">
                @Html.TextBoxFor(m => m.Email, new { @class = "input100" })
            </div>
        </div>
        <div class="div-form col-lg-12 p-0 ">
            @Html.LabelFor(m => m.Password, new { @class = "required labelinput" })
            <div class="wrap-input100 validate-input">
                <div class="inputgroup col-lg-12 w-100 p-0">
                    @Html.PasswordFor(m => m.Password, new { @class = "passinput input100" })
                    <span class="input-group-append p-0">
                        <span class="icon-pass input-group-text px-4"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="div-form col-lg-12 p-0">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "required labelinput" })
            <div class="wrap-input100 validate-input">
                <div class="inputgroup col-lg-12 p-0">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "inputCon input100" })
                    <span class="input-group-append p-0">
                        <span class="icon-con input-group-text px-4"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="container-login100-form-btn mt-4 pb-3">
            <button class="col-lg-12 py-1 btn font-weight-bold" style="background-color:#9cd9ee">
                Réinitialiser
            </button>
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/MyScripts/DisplayPassword.js"></script>
<script>
    $(document).ready(function () {
        $('#ResetPasswordForm').validate(
            {
                errorClass: 'help-block animation-slideDown text-danger',
                errorElement: 'span',
                errorPlacement: function (error, e) {
                    e.parents('.div-form ').append(error);
                },
                highlight: function (e) {

                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    'Email': {
                        required: true,
                        email: true
                    },
                    'Password':
                    {
                        required: true,
                    },
                    'ConfirmPassword':
                    {
                        required: true,
                    }
                },
                messages: {
                    'Email': {
                        required: "Email is Empty",
                        email: "Enter a Valid email(example@xyz.az)"
                    },
                    'Password':
                    {
                        required: "Password is Empty",
                    },
                    'ConfirmPassword':
                    {
                        required: "Confirmation Password is Empty"
                    }
                }
            });
    });
</script>