@using Microsoft.AspNet.Identity.EntityFramework;
@model IEnumerable <IdentityRole>

@{
    ViewBag.Title = "roleList";
    Layout = "~/Views/Shared/_administrationLayout.cshtml";
}
    <style>
        tr
        {
            text-align:center;
        }
        #tableRoles
        {
            border:1px;
            width:90% !important;
        }
    </style>
<div class="card mb-4">
    <div style="font-size:1.3rem;vertical-align:middle" class="card-header font-weight-bold d-flex justify-content-between align-items-center"><i class="fas fa-user-tag px-2"></i>List Roles<a class=" btn btn-primary ml-auto" href='@Url.Action("roleList")'><i class="fas fa-sync-alt"></i></a></div>
    <div class="card-body">
        <span class="btn btn-primary m-2 btnDisplayView">Add new role</span>
        <div class="pl-1 py-1 pr-2 overflow-auto">
            <table class="table table-striped  table-bordered" id="tableRoles">
                <thead>
                    <tr>
                        <th class="d-none">
                            id
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td   class="d-none idrole">
                                @item.Id
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <div class="d-flex justify-content-center align-items-center">
                                    @Html.ActionLink("Manage users in this role", "ListUserInRole", new { id = item.Id },new { @class = "btn btn-primary mx-2" }) |
                                    <a role="button" class="px-2 text-light btn btn-danger  btndelete custom-control mx-2"><i class="fas fa-trash"> </i> Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>