@model PFM.Models.ModelsReservation.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container p-0">
    <h4 class="display-4">Room</h4>
    <hr />
    <div class="container">
        <div class="row justify-content-between">
            <h4 class="text-capitalize "> @Html.DisplayFor(model => model.Titre)</h4>
            @Html.ActionLink("reserver", "Create","Reservations", new { @class = "btn btn-primary " })
            
        </div>
        <div id="imgs">
            <picture>
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/random/300x200" alt="Card image cap">
            </picture>
            <picture>
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/random/300x200" alt="Card image cap">
            </picture>
            <picture>
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/random/300x200" alt="Card image cap">
            </picture>
            <picture>
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/random/300x200" alt="Card image cap">
            </picture>
        </div>
        <p class="text-justify mt-5">@Html.DisplayFor(model => model.LongDescription)</p>
    </div>



    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ChambreId }, new { @class = "btn btn-warning text-light" }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>