@model IEnumerable<PFM.Models.ModelsReservation.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirmation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbChambres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room.Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDebut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Confirmation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbChambres)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservationId })
        </td>
    </tr>
}

</table>
