@model PFM.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<style>
    .div-form input {
        color: #403866;
        font-size: 18px;
        display: block;
        width: 100%;
        background: transparent;
        height: 40px;
        padding: 0 10px 0 38px;
        outline: none;
        border: none;
    }

    .btnback {
        background-color: #9cd9ee !important;
        color: white;
        font-size: 1.5rem;
        justify-self: center;
        letter-spacing: 1px !important;
    }
    .iconnewpass {
        background-image: url(../pic/eye-solid.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        color: lightgray;
        cursor: pointer;
        width: 10%;
    }
</style>
<link href="~/Content/StylePageInscription.css" rel="stylesheet" />
<div class="mx-lg-5 mx-md-3 mx-sm-2 mt-5">
    <div class="col-lg-12 d-flex">
        <div class="col-lg-3 border m-0 p-0 " style="padding: 0px !important; background-color: #e8e7e3;">
            <ul class="list-group col-lg-12 p-0" style="height:500px !important;">
                <li class="list-group-item" style="background-color: #e8e7e3;"><span class="my-5" style="font-size:1.7rem">Mange Account</span></li>
                @Html.Partial("_MenuRightSide", new PFM.Models.ApplicationUser())
            </ul>
        </div>
        <div class="col-lg-9 container pt-1">
            <div class="d-flex align-content-center pt-3 m-0">
                <span>
                    <a href='@Url.Action("Index")' class="btn btnback mr-3 px-3 py-0 font-weight-bold"><i class="fas fa-arrow-left"></i></a>
                </span>
                <h2>Security Settings</h2>
            </div>
            <hr />
            @if (ViewData["JavaScriptFunction"] == null)
            {

            }
            else if (ViewData["JavaScriptFunction"].ToString() == "successALert();")
            {
                <script>
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Your work has been saved',
                        showConfirmButton: false,
                        timer: 1500
                    })</script>
            }

            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new
            {
                @class = "form-horizontal ml-5" +
                " pt-3 d-flex flex-column justify-content-center col-lg-12",
                role = "form"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger px-2" })
                <div class="div-form col-lg-8 p-0 ">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "required labelinput" })
                    <div class="wrap-input100 validate-input">
                        <div class="inputgroup col-lg-12 w-100 p-0">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "passinput input100" })
                            <span class="input-group-append p-0">
                                <span class=" icon-pass input-group-text px-4"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="div-form col-lg-8 p-0 ">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "required labelinput" })
                    <div class="wrap-input100 validate-input">
                        <div class="inputgroup col-lg-12 w-100 p-0">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "newpass input100" })
                            <span class="input-group-append p-0">
                                <span id="iconnewpass" class="iconnewpass input-group-text px-4"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="div-form col-lg-8 p-0 ">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "required labelinput" })
                    <div class="wrap-input100 validate-input">
                        <div class="inputgroup col-lg-12 w-100 p-0">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "inputCon input100" })
                            <span class="input-group-append p-0">
                                <span class="icon-con input-group-text px-4"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-8 pt-5 px-0 m-0 pl-auto d-flex justify-content-end">
                    <input type="submit" value="Change Password" style="background-color:#DF6C4F;color:white" class="btn mr-3" />
                    @Html.ActionLink("Cancel", "Index", "Manage", new { @class = "btn btn-secondary" })
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/MyScripts/DisplayPassword.js"></script>
<script>
    $(document).ready(function () {
        var clicked3 = false;
        $("#iconnewpass").click(function () {
            if (!clicked3) {
                $(".newpass").attr("type", "text");
                $("#iconnewpass").css("background-image", 'url(../pic/eye-slash-solid.svg)');
                clicked3 = true;
            }
            else if (clicked3) {
                $(".newpass").attr("type", "Password");
                $("#iconnewpass").css("background-image", 'url(../pic/eye-solid.svg)');
                clicked3 = false;
            }
        });
    });
</script>