
@model PFM.Models.ApplicationUser
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Edit Username";
}

    <div class="col-lg-9 px-0 mx-0 py-3">
        <div class="d-flex align-items-center m-0 pl-3">
            <span class="row align-items-center">
                <a href='@Url.Action("Index")' class="btn btnback mr-3 px-3 py-0 font-weight-bold"><i class="fas fa-arrow-left"></i></a>
            </span>
            <h3 class="m-0 pl-1">General Account Settings</h3>
        </div>
        <hr />
        @if (ViewData["JavaScriptFunction"] == null)
        {

        }
        else if (ViewData["JavaScriptFunction"].ToString() == "errorAlert();")
        {
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Email is Already exists'
                });</script>
        }
        else if (ViewData["JavaScriptFunction"].ToString() == "successALert();")
        {
            <script>
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Your work has been saved',
                    showConfirmButton: false,
                    timer: 1500
                })</script>
        }
        @using (Html.BeginForm("editEmail", "Manage", FormMethod.Post, new { @class = "form-horizontal col-lg-12", role = "form", @id = "editEmail" }))
        {
            @Html.AntiForgeryToken()
            <h4 class="pt-3 pb-4">
                Your Current Email: <span style="color:#9cd9ee;">
                    @Html.DisplayFor(m => m.Email)
                </span>
            </h4>
            <div class="div-form col-lg-8 px-0 mx-0">
                @Html.LabelFor(m => m.Email, new { @class = "required labelinput" })
                <div class="wrap-input100 validate-input">
                    @Html.EditorFor(m => m.Email, new { @class = "input100" })
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
            <div class="row col-lg-8 d-flex justify-content-end px-0 mx-0 pt-4">
                <button class="btn text-light mr-3" style="background-color:#DF6C4F;" type="submit">Preview of change</button>
                @Html.ActionLink("Cancel", "Index", "Manage", new { @class = "btn btn-secondary" })
            </div>
        }
    </div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
        $('#editEmail').validate(
            {
                errorClass: 'help-block animation-slideDown text-danger',
                errorElement: 'span',
                errorPlacement: function (error, e) {
                    e.parents('.div-form ').append(error);
                },
                highlight: function (e) {

                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    'Email': {
                        required: true,
                        email: true
                    },
                },
                messages: {
                    'Email': {
                        required: "Email is required",
                        email: "Enter a Valid email(example@xyz.az)"
                    }
                }
            });
    });
</script>