@model PFM.Models.ApplicationUser
@{
    ViewBag.Title = "Edit Username";
}
@if (ViewData["JavaScriptFunction"] == null)
{

}
else if (ViewData["JavaScriptFunction"].ToString() == "errorAlert();")
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'PhoneNumber is Already exists'
        });</script>
}
else if (ViewData["JavaScriptFunction"].ToString() == "successALert();")
{
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Your work has been saved',
            showConfirmButton: false,
            timer: 1500
        })</script>
}
<div class="col-lg-9 px-0 mx-0 py-3">
    <div class="d-flex align-items-center m-0 pl-3">
        <span class="row align-items-center">
            <a href='@Url.Action("Index")' class="btn btnback mr-3 px-3 py-0 font-weight-bold"><i class="fas fa-arrow-left"></i></a>
        </span>
        <h3 class="m-0 pl-1">General Account Settings</h3>
    </div>
    <hr />
    <div class="form-horizontal">
        @if (Model.PhoneNumber == null)
        {
            <h4 class="pb-4 pt-3">
                Add your Number Phone <span style="color:#9cd9ee;">
                </span>
            </h4>
        }
        else
        {
            <h4 class="pb-4">
                Your Current PhoneNumber is : <span style="color:#9cd9ee;">
                    @Html.DisplayFor(m => m.PhoneNumber)
                </span>
            </h4>
        }


        @if (Model.PhoneNumber == null)
        {
            using (Html.BeginForm("editPhoneNumber", "Manage", FormMethod.Post, new { @class = "", role = "form", @id = "editPhoneNumber" }))
            {
                <div class="div-form col-lg-6 p-0 m-0">
                    <label class="required labelinput py-2">Number phone</label>
                    <div class="wrap-input100 validate-input">
                        @Html.EditorFor(m => m.PhoneNumber, new { @class = "input100" })
                    </div>
                </div>

                <div class="row col-lg-6 d-flex justify-content-end p-0 m-0 pt-4">
                    <button class="btn text-light mr-3" style="background-color:#DF6C4F;" type="submit">Add</button>
                    @Html.ActionLink("Cancel", "Index", "Manage", new { @class = "btn btn-secondary" })
                </div>
            }

        }
        else
        {
            using (Html.BeginForm("editPhoneNumber", "Manage", FormMethod.Post, new { @class = "", role = "form", @id = "editPhoneNumber" }))
            {
                <div class="div-form col-lg-6 p-0 m-0">
                    <label class="required labelinput py-2">Number phone</label>
                    <div class="wrap-input100 validate-input">
                        @Html.EditorFor(m => m.PhoneNumber, new { @class = "input100" })
                    </div>
                </div>
            }
            <div class="row col-lg-6 d-flex justify-content-end p-0 m-0 pt-4">
                <button class="btn text-light mr-3" id="btnSub" style="background-color:#DF6C4F;" type="submit">Edit</button>
                <span class="mr-2 ">
                    @using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    }
                </span>
                @Html.ActionLink("Cancel", "Index", "Manage", new { @class = "btn btn-secondary" })
            </div>
        }
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js">
</script>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
        $("#btnSub").click(function () {
            $("#editPhoneNumber").submit();
        });
        $('#editPhoneNumber').validate(
            {
                errorClass: 'help-block animation-slideDown text-danger',
                errorElement: 'span',
                errorPlacement: function (error, e) {
                    e.parents('.div-form ').append(error);
                },
                highlight: function (e) {

                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules:
                {
                    'PhoneNumber': {
                        required: true,
                    },
                },
                messages:
                {
                    'PhoneNumber': {
                        required: "PhoneNumber is required",
                    }
                }
            });
    });
</script>
