@model PFM.Models.ApplicationUser
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Mange Account";
}
<div class="container-lg my-5">
    <div class="container col-lg-12 d-flex">

        <div class="col-lg-3 border m-0 p-0 " style="padding: 0px !important; background-color: #e8e7e3;">
            <ul class="list-group col-lg-12 p-0" style="height:500px !important;">
                <li class="list-group-item" style="background-color: #e8e7e3;"><span class="my-5" style="font-size:1.7rem">Mange Account</span></li>
                <li class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center">
                    <span class="text-dark"><i class="fas fa-user-cog pr-2 "></i>Genral</span>
                    @if (Model.PhoneNumber == null || Model.Email == null)
                    {
                        <span class="badge badge-danger badge-pill">!</span>
                    }
                    else
                    {
                        <span class="badge badge-success badge-pill"><i class="fas fa-check-circle"></i></span>
                    }

                </li>
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <span class="text-dark"><i class="fas fa-user-shield pr-2"></i>Security</span>
                    @if (Model.PasswordHash == null)
                    {
                        <span class="badge badge-danger badge-pill">!</span>
                    }
                    else
                    {
                        <span class="badge badge-success badge-pill"><i class="fas fa-check-circle"></i></span>
                    }
                </li>
            </ul>
        </div>
        <div class="col-lg-9 container pt-3">
            <h2>General Account Settings</h2>
            <hr />
            <ul class="list-group col-lg-12 p-0 m-0">
                <li class="list-group-item py-3 col-lg-12  px-2 d-flex justify-content-between" style="background-color: #e8e7e3;">
                    <span class="pl-1 font-weight-bold col">Username</span>
                    <span class="col text-center">@Html.DisplayFor(m => m.UserName)</span>
                    <span class="col text-right">@Html.ActionLink("Edit", "", "")</span>
                </li>

                <li class="list-group-item py-3 px-2 d-flex justify-content-between" style="background-color: #e8e7e3;">
                    <span class="pl-1 font-weight-bold col">Phone Number</span>
                    @if (Model.PhoneNumber == null)
                    {
                        <span class="col text-center text-danger">
                        Empty    <i class="fas fa-exclamation-circle "></i>
                        </span>
                    }
                    else
                    {
                        <span class="col text-center text-dark">
                            @Html.DisplayFor(m => m.PhoneNumber)
                        </span>
                    }

                    <span class="col text-right">@Html.ActionLink("Edit", "", "")</span>
                </li>

                <li class="list-group-item py-3 px-2 d-flex justify-content-between" style="background-color: #e8e7e3;">
                    <span class="pl-1 font-weight-bold col">Email</span>
                    @if (Model.Email == null)
                    {
                        <span class="col text-center text-danger">
                            <i class="fas fa-exclamation-circle "></i>
                        </span>
                    }
                    else
                    {
                        <span class="col text-center text-dark">
                            @Html.DisplayFor(m => m.Email)
                        </span>
                    }
                    <span class="col text-right">@Html.ActionLink("Edit", "", "")</span>
                </li>
                <li class="list-group-item py-3 px-2  d-flex justify-content-between" style="background-color: #e8e7e3;">
                    <span class="pl-1 font-weight-bold col">Other informations</span>
                    <span class="col text-center">Your Address,country,City...</span>
                    <span class="col text-right">@Html.ActionLink("Edit", "", "")</span>
                </li>
            </ul>
        </div>
    </div>

</div>
