@model PFM.Models.ApplicationUser

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Edit Username";
}
<style>
    .div-form input {
        color: #403866;
        font-size: 18px;
        display: block;
        width: 100%;
        background: transparent;
        height: 40px;
        padding: 0 10px 0 38px;
        outline: none;
        border: none;
    }

    .btnback {
        background-color: #9cd9ee !important;
        color: white;
        font-size: 1.5rem;
        justify-self: center;
        letter-spacing: 1px !important;
    }

    .adressSpan {
        font-size: small !important;
    }
</style>
<link href="~/Content/StylePageInscription.css" rel="stylesheet" />
<div class="container-lg mt-5">
    <div class="container col-lg-12 d-flex">

        <div class="col-lg-3 border m-0 p-0 " style="        padding: 0px !important;
        background-color: #e8e7e3;">
            <ul class="list-group col-lg-12 p-0" style="height:500px !important;">
                <li class="list-group-item" style="background-color: #e8e7e3;"><span class="my-5" style="font-size:1.7rem">Mange Account</span></li>
                @if (Model.PhoneNumber == null || Model.Email == null || Model.PasswordHash == null || !Model.EmailConfirmed || Model.City == null || Model.Country == null || Model.State == null || Model.Address == null)
                {
                    @Html.Partial("_MenuRightSide", new PFM.Models.ApplicationUser())
                }
                else
                {
                    @Html.Partial("_MenuRightSide_v2", new PFM.Models.ApplicationUser())
                }
            </ul>
        </div>
        <div class="col-lg-9 container pt-1">
            <div class="d-flex align-content-center p-0">
                @Html.ActionLink("Back", "Index", "Manage", new { @class = "btn btnback mr-3 px-1 py-0 font-weight-bold" })
                <h2>General Account Settings</h2>
            </div>
            <hr />
            @using (Html.BeginForm("SetotherInfo", "Manage", FormMethod.Post, new { @class = "row form-horizontal col-lg-12 pt-1 pl-5 m-0 form-horizontal login100-form validate-form flex-sb flex-w", role = "form", @id = "formRegister" }))
            {
                @Html.AntiForgeryToken()
                <span class="pb-4 px-0 col-lg-12">
                    @if (Model.City == null || Model.Country == null || Model.State == null || Model.Address == null)
                    {
                        <span class="font-weight-bold" >
                            Add your <span style="color:#9cd9ee;">
                                Location
                            </span>:
                        </span>

                    }
                    else
                    {
                <span class="d-flex " style="font-size:1.1rem">
                    Edit your
                    <span style="color:#9cd9ee; "  class="px-1 font-weight-bold">Location</span>:
                    <span class="pl-2">
                        @foreach (var item in ViewBag.CountryUser)
                        {
                            @item.Text
                        }
                    </span>,
                    <span>
                        @foreach (var item in ViewBag.SateUser)
                        {
                            @item.Text
                        }
                    </span>,
                    <span>
                        @foreach (var item in ViewBag.CityUser)
                        {
                            @item.Text
                        }
                    </span>.
                    <span  class="px-2"><span class="font-weight-bold">Adress :</span> <span>@Html.DisplayFor(m => m.Address, new { @class = "adressSpan px-2" })</span></span>
                </span>
                       
                    }
                </span>
                <div class="pl-5 div-form col-lg-10 p-0 ">
                    @Html.LabelFor(m => m.Address, new { @class = "required labelinput" })
                    <div class="wrap-input100 validate-input">
                        @Html.TextBoxFor(m => m.Address, new { @class = "col-lg-12 input100" })
                    </div>
                </div>
                <div class="row pl-5 d-flex col-lg-12 m-0 p-0 justify-content-start">
                    <div class="div-form col-lg-5 p-0">
                        <label class="required labelinput" for="country">Country</label>
                        <div class="wrap-input100 validate-input">
                            @Html.DropDownListFor(m => m.Country, ViewBag.Countries as SelectList, "-- Select Country--", new { @class = "col-lg-12 input100 p-0" })
                        </div>
                    </div>
                    <div class="div-form col-lg-5 px-1">
                        <label class="required labelinput" for="">State</label>
                        <div class="wrap-input100 validate-input">

                            @Html.DropDownListFor(m => m.State, new SelectList(string.Empty, "id", "name"), "-- Select state--", new { @class = "col-lg-12 input100 p-0" })
                        </div>
                    </div>
                </div>
                <div class=" pl-5 div-form col-lg-10 p-0">
                    <label class="required labelinput" for="">City</label>
                    <div class="wrap-input100 validate-input">
                        @Html.DropDownListFor(m => m.City, new SelectList(string.Empty, "id", "name"), "-- Select state--", new { @class = "col-lg-12 input100 p-0" })

                    </div>
                </div>
                <div class="row col-lg-8 d-flex ml-auto justify-content-around mt-3 pt-3">
                    <button class="btn text-light" style="background-color:#DF6C4F;" type="submit">Preview of change</button>
                    @Html.ActionLink("Cancel", "Index", "Manage", new { @class = "btn btn-secondary" })
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
    $('#Country').change(function () {
        $("#State").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetStatesList")',
            dataType: 'json',
            data: jQuery.param({ Countries_id: $("#Country").val() }),

            success: function (states) {
                $.each(states, function (key, item) {
                    $("#State").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                });
            },
            error: function (ex) {
                alert("failed to retrieve states " + ex);
            }
        });
        return false;
    });
});
$(document).ready(function () {
    $('#State').change(function () {
        $("#City").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCitiesList")',
            dataType: 'json',
            data: jQuery.param({ State_id: $("#State").val() }),

            success: function (cities) {
                $.each(cities, function (key, item) {
                    $("#City").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                });
            },
            error: function (ex) {
                alert("failed to retrieve states " + ex);
            }
        });
        return false;
    });
});
</script>