<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1">

    <title>@ViewBag.Title - AK Hotel</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Long+Cang&display=swap" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style_eat_offers.css" rel="stylesheet" />
    <link href="~/Content/FlipTitle.css" rel="stylesheet" />
    <link rel="stylesheet" media="(max-width:600px)" href="~/Content/mobile.css">
    <link href="~/Content/simple-lightbox.css" rel="stylesheet" />
    <link href="~/Content/datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/lightbox2/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/Content/tabs.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://kit.fontawesome.com/2d05dd57ce.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

    <style>
        .progress-bar {
            content: ' ';
            height: 5px;
            background-color: #DF6C4F;
            width: 0%;
            z-index: 3;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="progress-bar fixed-top " id="myBar"></div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-0 px-2  bg-dark d-flex align-self-center" style="background-color:#000000 !important" id="my_nav">
        <a class="a navbar-brand py-0" href="@Url.Action( "Index", "Home")"> AK Hotel </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse links px-2" style="background-color:#000000 !important" id="navbarNav">
            <ul class="navbar-nav bg-dark text-center" style="background-color:#000000 !important">
                <li class="nav-item active pr-3">
                    <a href='@Url.Action("Index","Home")' class="nav-link">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item pr-3">
                    <a href='@Url.Action("RoomListUser","Rooms")' class="nav-link">Rooms & Suites</a>
                </li>
                <li class="nav-item pr-3">
                    <a href='@Url.Action("Index","EatDrink")' class="nav-link">Eat & drinks</a>
                </li>
                <li class="nav-item pr-3">
                    <a href='@Url.Action("Gallery","Home")' class="nav-link">Gallery</a>
                </li>
                <li class="nav-item  pr-3">
                    <a href='@Url.Action("About","Home")' class="nav-link">About</a>
                </li>
            </ul>
            @Html.Partial("_LoginPartial", new PFM.Models.ApplicationUser())
        </div>
    </nav>
    <div class="body-content m-0 p-0">
        @RenderBody()
    </div>
    <section class="footer-section position-relative">
        <footer class="co-footer p-5 fco-section img"
                style="background: url(../../pic/canvas.jpg) no-repeat center center/cover;">
            <div class="overlay"></div>
            <div class="container">
                <div class="row mb-5">
                    <div class="col-lg">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2"><span id="s_nav">HK</span> Hotel</h2>
                            <p>
                                Save time, save money!
                            </p>
                            <ul class="ftco-footer-social list-unstyled d-flex see  float-lg-left float-lft mt-5">
                                <li class="ftco-animate pr-5">
                                    <a href="#">
                                        <span class="icon-twitter">
                                            <i class="fa fa-3x  fa-twitter" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="ftco-animate pr-5">
                                    <a href="#">
                                        <span class="icon-facebook">
                                            <i class="fa fa-3x fa-facebook" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="ftco-animate pr-5">
                                    <a href="#">
                                        <span class="icon-instagram">
                                            <i class="fa fa-3x fa-instagram" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="ftco-footer-widget mb-4 ml-lg-5">
                            <h2 class="ftco-heading-2 pb-2"> <span id="s_nav">U</span>seful Links</h2>
                            <ul class="list-unstyled bee">
                                <li class="">
                                    <a class="" href="room&suite.html">Rooms & Suites</a>
                                </li>
                                <li class="">
                                    <a class="" href="eat&drink.html">Eat & drinks</a>
                                </li>
                                <li class="">
                                    <a class="" href="offer.html">Offers</a>
                                </li>
                                <li class="">
                                    <a class="" href="gallery.html">Gallery</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2 pb-2"><span id="s_nav">P</span>rivacy</h2>
                            <ul class="list-unstyled bee">
                                <li><a href="About.html" class="py-2 ">About Us</a></li>
                                <li><a href="#" id="linkcontact_footer" class="py-2 ">Contact Us</a>
                                <li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2 pb-2"> Have <span id="s_nav">a</span> Questions?</h2>
                            <div class="block-23 mb-3 ree">
                                <ul class="l"
                                    style="list-style-type:none">
                                    <li>
                                        <a href="#">
                                            <span class="icon-map-marker">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            </span><span class="text">
                                                203 Montreal ,Canada
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="icon-phone">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                            </span><span class="text">
                                                +15149003341
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="icon-envelope">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                            </span><span class="text">Akhotel3@business.com</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>
                            Copyright &copy; All rights reserved<a> <i class="fa fa-heart" aria-hidden="true"></i> </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <div class="box-footer-1">
        <a id="button"></a>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/MyScripts/main.js"></script>
    <script src="~/Scripts/datepicker.js"></script>
    <script src="~/Scripts/datepicker.fr.js"></script>
    <script src="~/Scripts/datepicker.en.js"></script>
    <script src="~/Content/lightbox2/js/lightbox.min.js"></script>
    <script src="~/Scripts/tabsSlider.js"></script>

    <script>
        window.onscroll = function () { myFunction() };

        function myFunction() {
            var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
            var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            var scrolled = (winScroll / height) * 100;
            document.getElementById("myBar").style.width = scrolled + "%";
        }
    </script>
    <script>
        var supports3DTransforms = document.body.style['webkitPerspective'] !== undefined ||
            document.body.style['MozPerspective'] !== undefined;

        function linkify(selector) {
            if (supports3DTransforms) {

                var nodes = document.getElementsByClassName(selector);

                for (var i = 0, len = nodes.length; i < len; i++) {
                    var node = nodes[i];

                    if (!node.className || !node.className.match(/roll/g)) {
                        node.className += ' roll';
                        node.innerHTML = '<span data-title="' + node.text + '">' + node.innerHTML + '</span>';
                    }
                };
            }
        }

        linkify('a');
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        $('.navbar-nav .nav-item a').click(e => {
            $(this).tab('show');
        });
    </script>
    <script>
        (function (d, w, c) {
            w.ChatraID = 'JYwvs2rotZqucxXz2';
            var s = d.createElement('script');
            w[c] = w[c] || function () {
                (w[c].q = w[c].q || []).push(arguments);
            };
            s.async = true;
            s.src = 'https://call.chatra.io/chatra.js';
            if (d.head) d.head.appendChild(s);
        })(document, window, 'Chatra');
    </script>
    <script>
        $('#myPicker,#myPicker2').datepicker();
        // Access instance of plugin
        $('#myPicker,#myPicker2').data('datepicker');
    </script>
    <script>
        new TabsSlider('.tabs');
    </script>
</body>
</html>

