@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right ml-auto" }))
    {
        @Html.AntiForgeryToken()
        <div class="dropdown navbar-nav">
            <button class="btn btn-secondary" type="button" style=" font-weight: bold;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.GetUserName().Substring(0, 2).ToUpper()
            </button>
            <div class="dropdown-menu col-lg-12" style="left: -250% !important;" aria-labelledby="dropdownMenuButton">
                <span class="d-flex col-lg-12 px-1 py-0 align-items-center">
                    <a class="dropdown-item col-lg-12  d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-lg-content-between  px-1" title="Manage" href='@Url.Action("Index","Manage",routeValues: User.Identity.GetUserId().ToString())'>
                        <i class="far fa-2x fa-id-badge"></i>
                        <span class=" px-2 d-flex justify-content-start">
                            <span class="">Mange profil</span>
                        </span>

                    </a>
                </span>
                @if (User.IsInRole("Administrator"))
                {
                    <div class="dropdown-divider my-0"></div>
                    <span class="d-flex px-1 py-0 align-items-center">
                        <a class="dropdown-item col-lg-12  d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-lg-content-between  px-1" title="Logout" href='@Url.Action("Index","Administration")'>
                            <i class="fas fa-2x fa-tachometer-alt"></i>
                            <span class=" px-2 d-flex justify-content-start">
                                <span>Dashboard</span>
                            </span>
                        </a>
                    </span>
                }
                <div class="dropdown-divider my-0"></div>
                <span class="d-flex px-1 py-0 align-items-center">
                    <a class="dropdown-item col-lg-12  d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-lg-content-between  px-1" title="Logout" href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fas fa-2x px-2 fa-sign-out-alt"></i>
                        <span class="px-2 d-flex justify-content-start">
                            <span>Logout</span>
                        </span>
                    </a>
                </span>
            </div>
        </div>
    }
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item pr-3 text-center">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new
            {
            id = "registerLink",
            @class = "nav-link"
            })
        </li>
        <li class="nav-item pr-3 text-center">
            @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new
            {
            id = "loginLink",
            @class = "nav-link"
            })
        </li>
    </ul>
}
